<table class="table table-bordered" >
<tr>
	<th>Name</th>
	<th>Brand</th>
	<th>Category</th>
	<th>Price</th>
</tr>
<tr>
	<td><%= @car.name %></td>
	<td><%= @car.brand %></td>
	<td><%= @car.category %></td>
	<td><%= @car.price %></td>
</tr>
</table>